 body {     
    background-color: #fafafa;   
    margin:0;
    font-family: sans-serif;
}


#header{
    margin: 20px;    
}

h1{
   display: inline;
    color: #003436;
    font-weight: 500;
    font-size: 32px;
 }    

hr{
    margin:0;
}


button{
	height: 36px;
    width: 120px;
    font-size: 16px;
    background-color: #00979D;
    color: #FFF;
    border-radius: 4px;
    float:right;
    margin-right:10px;
}

button:hover{
    background-color: #02767b;
}

button:focus{
    outline: 0;
}

